body {
    text-align: center;
    background-color: paleturquoise;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    color: orange;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    margin: 3px;
    border: 2px solid orange;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
